.contiene-cards {
    width: 90%;
    margin: auto;
    height:auto;
    left: 7%;
    position: absolute;
    z-index: 3;
}

.card {
    width: 18rem;
    border-radius: 18px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0,.2);
    padding: 2px;
    margin-bottom: 5px;
    background-color: transparent;
    
}
.cover-card {
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}
.card-img-top {
    width: 100%;
    height: auto;
    transition: .2s;
    border-radius: 18px;
}
.card-body a {
    border-radius: 6px;
    border-color: #254252;
    box-shadow: 6px 6px #e37239;
    
}
/**/
.card:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.card-body a:hover {  
    border-color: #171c2d;
    color:#171c2d;
    box-shadow: 10px 9px #254252;
    transform: scale(.93);
}
