.content-box.colaborador {
   
    background-image: url(../../assets/img/bg-stats.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
.titulo-colaborador {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #254252;
    padding: 20px;
    margin-bottom:40px;
}
.colaborador img {
   width: 80%;
   height: auto;
   padding: auto;
   object-fit: contain;
}

@media (width <= 767px) {
    
    .titulo-colaborador {
        font-size: 1.3rem;
    }
    .colaborador img {
        width: 50%;
        object-fit: contain;
        padding: 0;
    }
    .content-box.colaborador {
        height: 100%;
    }
    
    
}