
.carousel-cards {
    margin-bottom: 5px;
    padding:  0;

}
h3.section-card {
    width: auto;
    font-size: 2rem;
    font-weight: 600;
    color: #254252;
    
}
.wave {
    margin-top: 10px;
    padding-top: 20px;
    background: #e37239;
    width: 100%;
    height: 500px;
    position: relative;
}
#wave {
    top: 30%;
    z-index:2;
    position: absolute;
}
/* Breakpoint */
@media (width <= 686px) {
    h3.section-card {
        font-size: 1.5rem;
    }
    #wave {
        display: none;
    }
}


